# Relación de ejercicios 2

### Lee detenidamente las siguientes instrucciones y borra `raise NotImplementedError` en todas las celdas

En cada trozo de código debes responder a la pregunta formulada, asegurándote de que el resultado queda guardado en la(s) variable(s) indicadas, que por defecto vienen inicializadas a `None`. Puedes usar variables intermedias siempre que el resultado final del cálculo quede guardado exactamente en la variable que indica el enunciado (debes reemplazar `None` el código necesario, pero nunca cambiar el nombre de las variables ya creadas). 

Después de cada ejercicio verás varias líneas de código ya hechas. Ejecútalas todas (no modifiques su código) y te dirán si tu solución es correcta o no, sin darte pistas de cómo se resuelve (el código de los tests no guarda relación con el código de la solución). Si la solución es correcta, no se mostrará nada, pero si es incorrecta, verás un error indicando cuál es el test que tu solución no pasa. Además de esas pruebas, se realizarán algunas más (ocultas) a la hora de puntuar el ejercicio, pero si tu código pasa con éxito las líneas que ves, puedes estar bastante seguro de que tu solución es correcta. Asegúrate de que todas las celdas de auto-evaluación indican que tu solución es correcta antes de subir el ejercicio a la plataforma. En caso contrario, no dudes en preguntar las dudas a través del foro -siempre explicando la duda en palabras, sin pegar código fuente-.

Una vez finalizada la actividad, guarda tu fichero, ciérralo con File -> Close and Halt, y después vuélvelo a abrir y ejecútalo completo pinchando en Cell -> Run All Cells, y asegúrate de que no se lanza ningún error. De esta manera comprobarás que no has olvidado nada y que es posible ejecutarlo completo desde 0 y sin errores. No se corregirá ningún fichero que tenga errores de sintaxis y no se pueda, como mínimo, ejecutar completamente. No pasa nada si alguna de las comprobaciones lanza errores por ser incorrecta, pero el código de cada ejercicio no puede tener errores de sintaxis y debe al menos poderse ejecutar.

RECUERDA SUBIR CADA UNO DE LOS FICHEROS .ipynb TAL CUAL (sueltos), SIN COMPRIMIR Y SIN CAMBIARLES EL NOMBRE. Los ficheros subidos deben tener **exactamente el mismo nombre de fichero que tenían cuando los recibiste**. No subas ningún PDF ni ningún fichero ZIP ni nada similar. La plataforma ya los separa automáticamente en carpetas que traen el nombre y apellidos del alumno, por lo que NO es necesario que lo pongas en ninguna parte.

### Las funciones NUNCA deben hacer print() ni mostrar nada por pantalla, sino devolver el resultado del cálculo utilizando return. Recuerda que imprimir por pantalla no es devolver un resultado.

**Ejercicio 1 (1.5 puntos).** Crear el siguiente DataFrame y almacenarlo en la variable `personas`, poniendo los nombres de personas como columna de índice.

| name      | age | height|weight|sex|
|-----------|:---:|:-----:|:----:|:-:|
| Alex      | 25  |   177 |   57 | F |
| Lilly     | 31  |   163 |   69 | F |
| Mark      | 23  |   190 |   83 | M |
| Oliver    | 52  |   179 |   75 | M |
| Martha    | 76  |   163 |   70 | F |
| Lucas     | 49  |   183 |   83 | M |
| Caroline  | 26  |   164 |   53 | F |

- A continuación, crear en la variable `surname` un objeto Series (no un DataFrame) con el siguiente contenido en el orden que se muestra y con su correspondiente índice, y posteriormente añadir dicha columna al data.frame `personas` por la **izquierda** , SIN modificar el contenido de `personas` sino guardando el resultado en una nueva variable `personas_ampliado` de tipo DataFrame. Nótese que el orden de los elementos de la serie no coincide con el de las filas del DataFrame anterior, pero como están identificados con su índice, se podrá añadir correctamente. PISTA: puedes usar la función `assign(nueva_col=valores)` de los DataFrames, que te devolverá un nuevoDF (consulta la documentación [aquí](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html)).

|           | surname  |
|-----------|:---------|
| Lilly     | Potter   |
| Caroline  | Butter   |
| Mark      | Marquez  |
| Alex      | Song     |
| Martha    | Argerich |
| Lucas     | Brown    |
| Oliver    | Atom     |

- Usando la función `.str.cat(otra_serie, separador)`, de un objeto serie, modificar el DataFrame `personas_ampliado` añadiendo una nueva columna `surname_age` por la derecha, que contenga la concatenación de la serie (columna) `surname` con la serie resultante de convertir la serie `age` a string con el método `astype(str)`. Utiliza `"-"` (guión medio) como separador. PISTA: invoca a `.str.cat` sobre la serie `surname` pasando `age` como argumento.

In [26]:
import pandas as pd
personas = {
    'name': ['Alex', 'Lilly', 'Mark', 'Oliver', 'Martha','Lucas','Caroline'],
    'age': [25, 31, 23, 52, 76,49,26],
    'height': [177, 163, 190, 179, 163,183,164],
    'wwight': [57, 69,83, 75, 70,83,53],
    'sex': ['F', 'F', 'M', 'M', 'F','M','F']
}
personas = pd.DataFrame(personas)
personas.set_index('name', inplace=True)


surname = pd.Series(['Potter', 'Butter', 'Marquez', 'Song', 'Argerich','Brown','Atom'],index=['Lilly', 'Caroline', 'Mark', 'Alex', 'Martha','Lucas','Oliver'])
personas_ampliado = pd.concat([pd.DataFrame(surname, index=personas.index, columns=['surname']),personas], axis=1)


personas_ampliado['surname_age'] = surname.str.cat(personas['age'].astype(str), sep='-')
#checks

In [13]:
import pandas as pd
assert(isinstance(personas, pd.core.frame.DataFrame) and isinstance(personas_ampliado, pd.core.frame.DataFrame) and
       isinstance(surname, pd.core.frame.Series))

assert(personas.shape == (7, 4) and personas.index.size == 7 and personas.index[0] == "Alex")
assert(personas_ampliado.shape == (7, 6) and personas_ampliado.index.size == 7 and personas_ampliado.index[0] == "Alex")
assert(personas_ampliado.dtypes["surname_age"].name == "object")
assert(personas_ampliado["surname_age"].loc["Lucas"] == "Brown-49")
assert(surname.index.to_list() == ["Lilly", "Caroline", "Mark", "Alex", "Martha", "Lucas", "Oliver"])

**Ejercicio 2 (3 puntos).** Usando el dataset `state_x77.csv`, leerlo a un DataFrame en la variable `state_x77` usando como índice la columna "State" que contiene los nombres de los estados. (recuerda el argumento `index_col`). 

- Una vez hecho esto, crear una variable `state_df` como copia de `state_x77` para después modificarla reemplazando por `None` **todos los valores de la columna `Income` para aquellos estados cuyo nombre empieza por `M`**. El contenido de `state_x77` no debe modificarse. Para esto, crear primero una máscara booleana sobre las filas y guardarla en la variable `estados_m_mask` utilizando los nombres de fila extraídos de `state_x77`. 
  * PISTA: el índice del DF no es una columna y por tanto, tampoco es una serie, pero puedes convertirlo a serie utilizando la función `to_series()` aplicada al índice del DF.
  * PISTA: consulta la documentación de la función `.str.startswith` de las series [aquí](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html).

- En el propio `state_df` añadir una fila nueva cuyo nombre de fila sea `Total` que contenga en cada columna la suma de los valores de todas las filas de esa columna, usando la función `sum` de los DataFrames (no de las series) con `axis=0` (consulta la ayuda [aquí](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)). La fila debe crearse con ese nombre directamente, en vez de indicar el nombre después. Los valores nulos deben ignorarse para la suma (consulta los argumentos de `sum`).

- A continuación, crear una **función** `aniade_porcentajes(df)` que reciba un DataFrame cualquiera, acerca del cual podemos asumir que todas sus columnas son numéricas y que va a existir una **fila** con nombre `Total`. La función debe **devolver un nuevo DataFrame** que tendrá el **doble de columnas** que el DF pasado como argumento: la primera mitad de ellas serán idénticas al original, y la segunda mitad (es decir, las añadidas por la derecha) serán la traducción de las originales a porcentajes, dividiendo cada valor de cada celda entre el total de esa columna que se encuentra en la fila `Total` y multiplicando por 100. Los nombres de las nuevas columnas deben ser iguales a los de las columnas originales, pero con la terminación `_porc` (puedes usar `f"{variable}_porc"` o el operador de concatenación `+`). La función **no debe modificar en ningún momento el DF pasado como argumento**.
  * *La función no debe estar pensada específicamente para el DF `state_df` sino para cualquier DF en el que se cumplan las condiciones descritas*. PISTA: crea una nueva variable dentro de la función llamada `resultado`, que inicialmente sea igual al argumento `df`, y ve añadiéndole las nuevas columnas.

- Como caso particular, invocar la función creada sobre el data.frame `state_df` y guardar el resultado en la variable `state_df_porc`.

In [25]:

state_x77 = pd.read_csv("C:\\Users\\uxiat\\Desktop\\MasterBD\\Python\\state_x77.csv", index_col="State") #original con state como indice
state_x77 = pd.DataFrame(state_x77)
state_df = state_x77.copy()
estados_m_mask = state_df.index.to_series().str.startswith('M')
state_df['Income'].mask(estados_m_mask, None, inplace=True)

state_df.loc['Total']= state_df.sum(skipna=True)


def aniade_porcentajes(df):
    resultado = df.copy()
    for col in resultado.columns:
        resultado[col+'_porc'] = (resultado[col]/resultado.loc['Total'][col])*100
    state_df_porc = pd.concat([resultado], axis=1)
    return state_df_porc

In [16]:
assert(isinstance(state_df, pd.core.frame.DataFrame) and state_df.shape == (51, 8))
assert(state_df.index.to_list() == state_x77.index.to_list() + ["Total"])

assert(isinstance(estados_m_mask, pd.core.frame.Series) and estados_m_mask.dtypes.name == "bool" 
       and estados_m_mask.size == 50 and estados_m_mask.sum() == 8)

result_df = aniade_porcentajes(state_df)
assert(result_df.shape == (51, 16))
assert(len([x for x in list(map(lambda x: x + "_porc", state_df.columns)) if x in list(result_df.columns)]) == 8) # comprobar nuevos nombres
assert(round(aniade_porcentajes(state_df).loc["Virginia", "Income_porc"], 3) == 2.515)

**Ejercicio 3 (2 puntos)** Con la variable `state_df` definida anteriormente:

- **Copiar** su contenido a una nueva variable `state_df_abb` (no es suficiente con sólo asignarla). 
- Añadir a `state_df_abb` una nueva columna `Division` (con D mayúscula) que sea de tipo **Series** y cuyo contenido sea el contenido de la variable `division` que puedes encontrar creada a continuación y que no debes modificar. El orden de los valores corresponde a los estados en el mismo que en el DF `state_df`. Para añadirla como series, primero crea un objeto Series cuyo índice sea exactamente el mismo que el del DF `state_df_abb`, almacénalo en la variable `division_series`, y finalmente añade dicho objeto como columna.

- Utilizando la función `groupby` con la variable `Division` como agrupadora y la variable numérica `Income` (ingresos) como objetivo, calcular el **ingreso medio en cada zona de EEUU** y almacenar el resultado en la variable `ingresos_medios`. Dentro de `agg` puedes usar la función `np.mean` de Numpy (recuerda que habíamos introducido en el ejercicio anterior varios `None` justamente en esa columna). Asegúrate de que la división quede *como el índice* del DF devuelto como resultado, que tendrá una sola columna como tal además del índice.

- Añadir a `state_df_abb` una nueva columna `Division_mean_income` que tenga, para cada estado, el ingreso medio de la división a la que pertenece el estado. PISTA: utiliza `.loc[]` sobre la Serie (columna) `Income` del DF `ingresos_medios`, aprovechando que su índice son los nombres de división, y por tanto, puedes indexar sobre dicha serie si pasas los nombres de los elementos de la serie en el orden deseado. Dicho orden viene dado por la columna `Division` del DF `state_df_abb` (está permitido pasar una Serie como argumento a `loc`). **No está permitido usar join ni merge ni nada similar**.
  * PISTA: convierte la serie devuelta por `loc` en una lista de números reales con `to_list()` antes de asignarla al DF. De lo contrario, obtendrás todo el rato valores NaN ya que la serie tiene como índice el nombre de la división, lo cual no coincide con el índice del DF al que quieres asignar la columna, que son los nombres de estados. Al convertir a lista evitamos que Python intente hacer coincidir los índices.

- Seleccionar las filas de `state_df_abb` correspondientes a estados con un ingreso (columna `Income`) mayor que el ingreso medio de esa división (columna `Division_mean_income`). Para dichas filas seleccionar solamente las columnas `Population`, `Income`, `Division_mean_income` y `Area`. Guardar el resultado en la variable `state_df_high_income`.

In [81]:
division = [
    "East South Central", "Pacific", "Mountain", "West South Central", "Pacific", "Mountain", "New England", "South Atlantic", 
    "South Atlantic", "South Atlantic", "Pacific", "Mountain", "East North Central", "East North Central", 
    "West North Central", "West North Central", "East South Central", "West South Central", "New England", "South Atlantic",
    "New England", "East North Central", "West North Central", "East South Central", "West North Central", "Mountain",
    "West North Central", "Mountain", "New England", "Middle Atlantic", "Mountain", "Middle Atlantic", "South Atlantic",
    "West North Central", "East North Central", "West South Central", "Pacific", "Middle Atlantic", "New England",
    "South Atlantic", "West North Central", "East South Central", "West South Central", "Mountain", "New England",
    "South Atlantic", "Pacific", "South Atlantic", "East North Central", "Mountain", "Ninguna"]
    
state_df_abb = state_df.copy()
division_series = pd.Series(division, index=state_df_abb.index)
state_df_abb["Division"] = division_series
ingresos_medios = pd.DataFrame(state_df_abb.groupby("Division")["Income"].mean())

division_mean_income = ingresos_medios.loc[state_df_abb["Division"], "Income"].to_list()
state_df_abb["Division_mean_income"] = division_mean_income

state_df_high_income = pd.DataFrame(state_df_abb[state_df_abb["Income"] > state_df_abb["Division_mean_income"]],
    columns=["Population","Income", "Division_mean_income","Area"])

ingresos_medios

                           Income
Division
East North Central    4648.500000
East South Central    3719.000000
Middle Atlantic       4863.000000
Mountain              4410.142857
New England           4523.500000
Ninguna             186917.000000
Pacific               5183.200000
South Atlantic        4220.428571
West North Central    4611.800000
West South Central    3773.500000

In [18]:
assert(isinstance(state_df_abb, pd.core.frame.DataFrame) and
       isinstance(state_df_high_income, pd.core.frame.DataFrame))

assert(state_df_abb.shape == (51, 10))
assert(state_df_high_income.shape == (19, 4))

assert((division_series.index == state_df_abb.index).all())
assert(isinstance(state_df_abb["Division"], pd.core.series.Series))    # Division no debe estar como strings sino como serie

assert(round(ingresos_medios.Income.median(), 2) == 4567.65)
assert(state_df_abb.Division_mean_income.median() == 4523.5)

assert(round(state_df_high_income.Area.mean(), 2) ==  93832.37 and
       state_df_high_income.Population.median() == 2715)

**Ejercicio 4 (1.5 puntos)** Crear una función `aniade_proporciones` que reciba un solo argumento de tipo DataFrame, busque todas las columnas cuyo nombre termine en `_porc`, y añada por el final tantas columnas como haya encontrado, pero cambiando `_porc` por `_prop` que contendrá esa misma cantidad pero en tanto por uno (es decir, proporción), lo cual se obtiene dividiendo por 100.0 cada columna de porcentajes. El DF que la función recibe como argumento **no debe modificarse**.
* PISTA: puedes hacerlo sin bucles, primero encontrando el sub-dataframe formado por solamente esas columnas (para lo cual necesitarás crear, mediante listas por comprensión, una lista que contenga solamente esas columnas, y luego usarla con `.loc`), modificando todos sus elementos dividiendo el DF por 100 (puedes dividir un DF entre un número directamente) y por último renombrar sus columnas, para finalmente añadirlo al existente por la derecha, **sin usar merge ni join** sino como operación de concatenación, puesto que ya sabemos que ambos DF tienen las filas en el mismo orden (consulta la documentación de [la función pd.concat con axis=1](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)). En este caso el primer argumento de pd.concat debe ser una *lista* de los dos DF que queremos concatenar.
* PISTA: 
* La función debe estar pensada para cualquier DF que tenga columnas numéricas cuyo nombre termine en _porc
* Como caso particular, invocar a la función sobre el DF `state_df_porc` creado en el ejercicio 2 y almacena el resultado en la variable `states_porc_prop_df`.

In [22]:
def aniade_proporciones(df):
    cols_porc = [col for col in df.columns if col.endswith('_porc')]
    df_porc = df.loc[:, cols_porc]
    df_prop = df_porc.div(100.0)
    df_prop.columns = [col.replace('_porc', '_prop') for col in df_prop.columns]
    return pd.concat([df, df_prop], axis=1)
state_df_porc =aniade_porcentajes(state_df)
states_porc_prop_df = aniade_proporciones(state_df_porc)

In [23]:
import inspect
aniade_proporciones_source = inspect.getsource(aniade_proporciones)
assert("state_df_porc" not in aniade_proporciones_source and       # No se puede referenciar ningún DF externo a la función
       "state_x77" not in aniade_proporciones_source)
mi_resultado = aniade_proporciones(state_df_porc)
assert(isinstance(mi_resultado, pd.core.frame.DataFrame))
assert(len(state_df_porc.columns) == 16)                  # El DF original no debe haberse modificado
assert(len(mi_resultado.columns) == 24)
assert(set(['Area_porc', 'Population_prop', 'Income_prop', 'Illiteracy_prop',
       'Life Exp_prop', 'Murder_prop', 'HS Grad_prop', 'Frost_prop', 'Area_prop']).issubset(mi_resultado.columns))
assert(round(mi_resultado["Area_prop"].median(), 5) == 0.0154)
assert(round(mi_resultado["Frost_prop"].median(), 5) == 0.02202)

**Ejercicio 5 (2 puntos).** Leer el fichero `weather_usa.csv` en la variable `weather_df` y unirlo con el DF contenido en `state_x77` de la manera adecuada. Recuerda que los nombres de estados están en el *índice* de `state_x77`, no son ninguna columna. Almacenar el resultado de la operación en la variable `x77_weather_df`.

A continuación:

* Guardar en la variable `life_sun_corr` el coeficiente de correlación lineal entre las horas de sol de la capital de un estado y la esperanza de vida de ese estado. Aplícalo a dos objetos Series (las dos columnas) con la función `pd.Series.corr()`.
* Crear en la variable `north_south_regex` una expresión regular para identificar los estados que contengan la palabra "North" o "South" seguida de exactamente un separador, que no tiene por qué ser " " sino que puede ser cualquier carácter separador. Utiliza la sintaxis `f"expr"`.
* Aplicar la expresión regular al índice del DataFrame `x77_weather` y guardar el resultado en `north_south_mask`. PISTA: consulta la documentación de la función [Series.str.match](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.match.html) de los objetos Series. Necesitarás convertir el índice del DF en un objeto Series con el método `.to_series()` aplicado al índice.
* Aplica a `x77_weather_df` la máscara construida para obtener un DF que sólo contenga dichas filas, y guárdalo en la variable `north_south_df`.

In [30]:
weather_df = pd.read_csv("C:\Users\uxiat\Desktop\MasterBD\Python\weather_usa")
x77_weather_df = None
north_south_regex = None
north_south_mask = None
north_south_df = None
life_sun_corr = None

# YOUR CODE HERE
raise NotImplementedError

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (994022197.py, line 1)

In [64]:
weather_df = pd.read_csv("C:\\Users\\uxiat\\Desktop\\MasterBD\\Python\\weather_usa.csv")
x77_weather_df = state_x77.merge(weather_df, left_index=True, right_on="State")
life_sun_corr = x77_weather_df['Life Exp'].corr(x77_weather_df['sun_hours'])
north_south_regex = f"(North|South).*"
north_south_mask = x77_weather_df.index.to_series().str.match(north_south_regex)
north_south_df = x77_weather_df[north_south_mask]

AttributeError: Can only use .str accessor with string values!

In [86]:
weather_df = pd.read_csv("C:\\Users\\uxiat\\Desktop\\MasterBD\\Python\\weather_usa.csv")
weather_df.set_index('State', inplace=True)
x77_weather_df = state_x77.merge(weather_df, left_index=True, right_on="State")
life_sun_corr = x77_weather_df['Life Exp'].corr(x77_weather_df['sun_hours'])
north_south_regex = f"(North|South).*"
north_south_mask = x77_weather_df.index.to_series().str.match(north_south_regex)
north_south_df = x77_weather_df[north_south_mask]
x77_weather_df

,Population,Income,Illiteracy,Life Exp,Murder,HS Grad,Frost,Area,rain_mm,temp_celsius,sun_city,sun_perc,sun_hours,clear_days
State,,,,,,,,,,,,,,
Alabama,3615,3624,2.1,69.05,15.1,41.3,20,50708,1480,17.1,Birmingham,58.0,2641.0,99
Alaska,365,6315,1.5,69.31,11.3,66.7,152,566432,572,-3.0,Anchorage,41.0,2061.0,61
Arizona,2212,4530,1.8,70.55,7.8,58.1,15,113417,345,15.7,Tucson,85.0,3806.0,193
Arkansas,2110,3378,1.9,70.66,10.1,39.9,65,51945,1284,15.8,Fort Smith,61.0,2771.0,123
California,21198,5114,1.1,71.71,10.3,62.6,20,156361,563,15.2,San Diego,68.0,3055.0,146
Colorado,2541,4884,0.7,72.06,6.8,63.9,166,103766,405,7.3,Grand Junction,71.0,3204.0,136
Connecticut,3100,5348,1.1,72.48,3.1,56.0,139,4862,1279,9.4,Hartford,56.0,2585.0,82
Delaware,579,4809,0.9,70.06,6.2,54.6,103,1982,1160,12.9,Wilmington,NaN,NaN,97
Florida,8277,4815,1.3,70.66,10.7,52.6,11,54090,1385,21.5,Tampa,66.0,2927.0,101
Georgia,4931,4091,2.0,68.54,13.9,40.6,60,58073,1287,17.5,Macon,66.0,2986.0,112
Hawaii,868,4963,1.9,73.60,6.2,61.9,0,6425,1618,21.1,Honolulu,71.0,NaN,90
Idaho,813,4119,0.6,71.87,5.3,59.5,126,82677,481,6.9,Boise,64.0,2993.0,120
Illinois,11197,5107,0.9,70.14,10.3,52.6,127,55748,996,11.0,Peoria,56.0,2567.0,95
Indiana,5313,4458,0.7,70.88,7.1,52.9,122,36097,1060,10.9,Indianapolis,55.0,2440.0,88
Iowa,2861,4628,0.5,72.56,2.3,59.0,140,55941,864,8.8,Des Moines,59.0,2691.0,105
Kansas,2280,4669,0.6,72.58,4.5,59.9,114,81787,733,12.4,Wichita,65.0,2922.0,128
Kentucky,3387,3712,1.6,70.10,10.6,38.5,95,39650,1242,13.1,Louisville,56.0,2514.0,93
Louisiana,3806,3545,2.8,68.76,13.2,42.2,12,44930,1528,19.1,New Orleans,57.0,2649.0,101
Maine,1058,3694,0.7,70.39,2.7,54.7,161,30920,1072,5.0,Portland,57.0,2513.0,101
Maryland,4122,5299,0.9,70.22,8.5,52.3,101,9891,1131,12.3,Baltimore,57.0,2582.0,105
Massachusetts,5814,4755,1.1,71.83,3.3,58.5,103,7826,1211,8.8,Boston,58.0,2634.0,98
Michigan,9111,4751,0.9,70.63,11.1,52.8,125,56817,833,6.9,Lansing,51.0,2392.0,71
Minnesota,3921,4675,0.6,72.96,2.3,57.6,160,79289,693,5.1,Minneapolis,58.0,2711.0,95
Mississippi,2341,3098,2.4,68.09,12.5,41.0,50,47296,1499,17.4,Jackson,61.0,2720.0,111
Missouri,4767,4254,0.8,70.69,9.3,48.8,108,68995,1071,12.5,Springfield,60.0,2690.0,115
Montana,746,4347,0.6,70.56,5.0,59.2,155,145587,390,5.9,Helena,59.0,2698.0,82
Nebraska,1544,4508,0.6,72.60,2.9,59.3,139,76483,599,9.3,Lincoln,61.0,2762.0,117
Nevada,590,5149,0.5,69.03,11.5,65.2,188,109889,241,9.9,Reno,79.0,3646.0,158
New Hampshire,812,4281,0.7,71.23,3.3,57.6,174,9027,1103,6.6,Concord,54.0,2519.0,90
New Jersey,7333,5237,1.1,70.93,5.2,52.5,115,7521,1196,11.5,Atlantic City,56.0,2499.0,94
New Mexico,1144,3601,2.2,70.32,9.7,55.2,120,121412,370,11.9,Albuquerque,76.0,3415.0,167
New York,18076,4903,1.4,70.55,10.9,52.7,82,47831,1062,7.4,Syracuse,46.0,2120.0,63
North Carolina,5441,3875,1.8,69.21,11.1,38.5,80,48798,1279,15.0,Greensboro,60.0,2651.0,109
North Dakota,637,5087,0.8,72.78,1.4,50.3,186,69273,452,4.7,Bismarck,59.0,2738.0,93
Ohio,10735,4561,0.8,70.82,7.4,53.2,124,40975,993,10.4,Columbus,50.0,2183.0,72
Oklahoma,2715,3983,1.1,71.42,6.4,51.6,82,68782,927,15.3,Oklahoma City,68.0,3089.0,139
Oregon,2284,4660,0.6,72.13,4.2,60.0,44,96184,695,9.1,Portland,48.0,2341.0,68
Pennsylvania,11860,4449,1.0,70.43,6.1,50.2,126,44966,1089,9.3,Harrisburg,58.0,2614.0,87
Rhode Island,931,4558,1.3,71.90,2.4,46.4,127,1049,1218,10.1,Providence,58.0,2606.0,98
South Carolina,2816,3635,2.3,67.96,11.6,37.8,65,30225,1264,16.9,Columbia,64.0,2826.0,115
South Dakota,681,4167,0.5,72.08,1.7,53.3,172,75955,511,7.3,Huron,63.0,2947.0,104
Tennessee,4173,3821,1.7,70.11,11.0,41.8,70,41328,1376,14.2,Nashville,56.0,2510.0,102
Texas,12237,4188,2.2,70.90,12.2,47.4,35,262134,734,18.2,Dallas,61.0,2850.0,135
Utah,1203,4022,0.6,72.90,4.5,67.3,137,82096,310,9.2,Salt Lake City,66.0,3029.0,125
Vermont,472,3907,0.6,71.64,5.5,57.1,168,9267,1085,6.1,Burlington,49.0,2295.0,58
Virginia,4981,4701,1.4,70.08,9.5,47.8,85,39780,1125,12.8,Richmond,63.0,2829.0,100
Washington,3559,4864,0.6,71.72,4.3,63.5,32,66570,976,9.1,Seattle,47.0,2170.0,58
West Virginia,1799,3617,1.4,69.48,6.7,41.6,100,24070,1147,11.0,Beckley,NaN,NaN,60
Wisconsin,4589,4468,0.7,72.48,3.0,54.5,149,54464,829,6.2,Madison,54.0,2428.0,89
Wyoming,376,4566,0.6,70.29,6.9,62.9,173,97203,328,5.6,Lander,68.0,3073.0,114

In [87]:
assert(isinstance(x77_weather_df, pd.core.frame.DataFrame) and
       isinstance(north_south_df, pd.core.frame.DataFrame) and
       isinstance(weather_df, pd.core.frame.DataFrame))
assert(isinstance(north_south_mask, pd.core.frame.Series))
assert(x77_weather_df.shape == (50, 14) and
       north_south_df.shape == (4, 14))
assert("|" in north_south_regex and 
       " " not in north_south_regex)
assert(north_south_df["Population"].mean() == 2393.75)
assert(round(north_south_df["temp_celsius"].mean(), 3) == 10.975)
assert(round(life_sun_corr, 3) == -0.043)